.article-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: auto;
}
@media screen and (min-width: 600px) {
  .article-container {
    padding-right: 50px;
  }
  .md-sidebar-expand {
    padding-right: 200px;
  }
}
.el-tabs {
  width: 100%;
  background-color: white;
}
.box-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
